@import "tailwindcss";
@import "basecoat-css";
@import "tw-animate-css";
@import "./menu.css";
@import "./mobile-header.css";
/* @import "./toggle-tabs.css"; */

@theme {
  --breakpoint-air: 73rem;
  --breakpoint-pro: 85rem;
}

@utility container {
  margin-inline: auto;
  /* @apply bg-[#AEEE00]/20; */
}

@utility extend-touch-target {
  @media (pointer: coarse) {
    @apply relative touch-manipulation after:absolute after:-inset-2;
    /* @apply after:bg-pink-500/10; */
  }
}
